.app-bar {
  align-items: center;
  justify-content: center;
  @media (max-width: 930px) {
    padding: 0 10px;
  }
}

.nav-toolbar {
  width: 922px;
  @media (max-width: 930px) {
    width: 100%;
  }
}


.nav-toolbar > .right {
  margin-left: auto;
  order: 2;
}