.dashboard {
  align-items: center;
  justify-content: center;
  width: 922px;
  @media (max-width: 930px) {
    width: 100%;
  }
}

.add-fab {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}